@charset "utf-8";
/* CSS Document */

@font-face {
	font-family: "Amatic";
	src:  url('../fonts/AmaticSC-Regular.ttf') format('truetype');
}

@font-face {
	font-family: "AmaticBold";
	src:  url('../fonts/Amatic-Bold.ttf') format('truetype');
}

html, 
body {
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
}

body {
	background: url('../img/bg.jpg') center no-repeat fixed;
	background-size: cover;
	font-family: "Amatic";
	color: white;
}

#container-parent {
	width: 90%;
	margin: 0 auto;
	margin-top: 60px;
	padding-bottom: 50px;
	background: rgba(0,0,0,0.6);
}

#container-child-1 {
	padding-left: 5%;
	padding-right: 5%;
	margin-top: 20px;
	color: white;
}

#container-child-2,
#container-child-3 {
	width: 100%;
	text-align: center;
	margin-bottom: 35px;
}

#container-child-2 a {
	font-size: 28px;
}

#header {
	padding-top: 15px;
	display: table;
}

img {
	display: table-cell;
	vertical-align: middle;
}

hr {
	width: 80%;
	border-color: rgba(255,255,255,0.4);
}

#accroche {
	font-size: 32pt;
	font-family: "AmaticBold";
	display: table-cell;
	vertical-align: middle;
	padding-left: 30px;
}

#description-concours,
#description-vote {
	font-size: 25px;
}

.red-button {
	cursor: pointer;
	color: white;
	padding: 15px 80px;
	background-color: rgb(155, 28, 31);
}

.red-button:hover {
	background-color: rgb(127,0,3);
}

#photos-candidats {
	position: relative;
	width: 100%;
}

.photo {
	display: inline-block;
	margin: 5px;
	height: 100px;
	width: 170px;
	border: dashed 1px white;
	cursor: pointer;
	transition: background-color 0.3s linear;
	background-color: transparent;
	text-align: center;
	line-height: 100px;
}

.photo:hover {
	transition: background-color 0.3s linear;
	background-color: rgba(0,0,0,0.5);
}

/***************************************************/
#ask-post {
	position: absolute;
	top: 280px;
	margin-left: 50px;
	font-size: 24pt;
	transform: rotate(-10deg);
	cursor: pointer;
}

.container-parent {
	width: 90%;
	margin: 0 auto;
	margin-top: 60px;
	padding-bottom: 50px;
	background: rgba(0,0,0,0.6);
}

.contest-container {
	min-height: 400px;
}

#arrow-participate {
	margin-left: 130px;
	margin-top: -10px;
	width: 100px;
	height: auto;
	transform: rotate(50deg);
}

hr#contest-separator {
	margin-top: 190px;
}

#vote-zone {
	text-align: center;
}

#load-more {
	margin: 0 auto;
	margin-top: 15px;
	padding: 10px 100px;
	width: 313px;
	background-color: rgba(0,0,0,0.2);
}


#hide-button {
	height: 0;
	overflow: hidden;
}

#global-browse-zone {
	position: absolute;
	left: 360px;
	top: 280px;
	font-size: 18px;
	text-align: center;
	width: 265px;
}

.button-upload {
	float: left;
	padding: 10px 20px;
	cursor: pointer;
	width: 230px;
}

#default-choice {
	float: left;
	margin-left: 17px;
	width: 200px;
	padding: 5px 15px;
	background-color: rgba(38,38,38,0.5);
	color: white;
	cursor: pointer;
}

#default-choice:hover {
	background-color: rgba(38,38,38,0.7);
}

#option-list {
	position: absolute;
	margin-left: 17px;
	margin-top: 34px;
	padding: 5px 15px;
	width: 200px;
	background-color: rgba(38,38,38,0.7);
	list-style: none;
	display: none;
	z-index: 5;
}

#option-list li:hover {
	cursor: pointer;
	background-color: rgba(127,0,1, 0.7);
}

#add-new-album {
	position: absolute;
	top: 90px;
	left: 20px;
	z-index: 1;
}
#add-new-album input {
	margin-right: 5px;
	padding: 5px 5px;
	margin-top: -5px;
	vertical-align: top;
	font-family: Calibri;
}

.submit {
	padding: 4px 33px 2px 33px;
	background-color: rgb(155, 28, 31);
	vertical-align: top;
	cursor: pointer;
}

.submit:hover{
	background-color: rgb(127,0,1);
}

.submit-alone {
	position: absolute;
	margin-left: 7px;
	padding: 4px 15px 2px 15px;
	width: 180px;
}