@charset "utf-8";
/* CSS Document */

@font-face {
	font-family: "Amatic";
	src:  url('../fonts/AmaticSC-Regular.ttf') format('truetype');
}

@font-face {
	font-family: "AmaticBold";
	src:  url('../fonts/Amatic-Bold.ttf') format('truetype');
}

html, 
body {
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
}

body {
	background: url('../img/bg.jpg') center no-repeat fixed;
	background-size: cover;
	font-family: "Amatic";
	color: white;
}

#container-parent {
	width: 90%;
	margin: 0 auto;
	margin-top: 60px;
	padding-bottom: 50px;
	background: rgba(0,0,0,0.6);
}

#container-child-1 {
	padding-left: 5%;
	padding-right: 5%;
	margin-top: 20px;
	color: white;
}

#container-child-2,
#container-child-3 {
	width: 100%;
	text-align: center;
	margin-bottom: 35px;
}


#header {
	padding-top: 15px;
	display: table;
}

img {
	display: table-cell;
	vertical-align: middle;
}

hr {
	width: 80%;
	border-color: rgba(255,255,255,0.4);
}

#accroche {
	font-size: 32pt;
	font-family: "AmaticBold";
	display: table-cell;
	vertical-align: middle;
	padding-left: 30px;
}

#description-concours,
#description-vote {
	font-size: 25px;
}

.red-button {
	cursor: pointer;
	color: white;
	font-size: 22pt;
	padding: 15px 80px;
	background-color: rgb(155, 28, 31);
}

.red-button:hover {
	background-color: rgb(127,0,3);
}

.photo {
	display: inline-block;
	margin: 5px;
	height: 100px;
	width: 160px;
	border: dashed 1px white;
	cursor: pointer;
	transition: background-color 0.3s linear;
	background-color: transparent;
}

.photo:hover {
	transition: background-color 0.3s linear;
	background-color: rgba(0,0,0,0.5);
};