@charset "utf-8";
/* CSS Document */

@import url(//fonts.googleapis.com/css?family=Montserrat:400,700);

@font-face {
	font-family: "Amatic";
	src:  url('../fonts/AmaticSC-Regular.ttf') format('truetype');
}

@font-face {
	font-family: "AmaticBold";
	src:  url('../fonts/Amatic-Bold.ttf') format('truetype');
}

html, 
body {
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
}

body {
	background: url('../img/bg.jpg') center no-repeat fixed;
	background-size: cover;
	font-family: "Montserrat", sans-serif;
	color: white;
}

#container-parent {
	width: 90%;
	margin: 0 auto;
	margin-top: 60px;
	padding-bottom: 50px;
	background: rgba(0,0,0,0.6);
}

#container-child-1 {
	padding-left: 5%;
	padding-right: 5%;
	margin-top: 20px;
	color: white;
}

#container-child-2,
#container-child-3 {
	width: 100%;
	text-align: center;
	margin-bottom: 35px;
}

#container-child-2 a {
	font-size: 16px;
}

#header {
	padding-top: 15px;
	display: table;
}

img {
	display: table-cell;
	vertical-align: middle;
}

hr {
	width: 80%;
	border-color: rgba(255,255,255,0.4);
}

#accroche {
	font-size: 32pt;
	font-family: "Amatic";
	display: table-cell;
	vertical-align: middle;
	padding-left: 30px;
}

#description-concours,
#description-vote {
	font-size: 25px;
	font-family: "AmaticBold";
}

.red-button {
	cursor: pointer;
	color: white;
	padding: 15px 80px;
	background-color: rgb(155, 28, 31);
	font-size: 15px;
}

.red-button:hover {
	background-color: rgb(127,0,3);
}

#photos-candidats {
	position: relative;
	width: 680px;
	margin: 0 auto;
	overflow: auto;
	padding-left: 56px;
}

.photo {
	display: inline-block;
	margin: 5px;
	height: 140px;
	width: 270px;
	cursor: pointer;
	transition: background-color 0.3s linear;
	background-color: transparent;
	text-align: center;
	line-height: 100px;
}

.photo:hover {
	transition: background-color 0.3s linear;
	background-color: rgba(0,0,0,0.5);
}

/***************************************************/
.container-parent {
	width: 90%;
	margin: 0 auto;
	margin-top: 60px;
	padding-bottom: 50px;
	background: rgba(0,0,0,0.6);
}

.contest-container {
	min-height: 400px;
}

hr#contest-separator {
	margin-top: 40px;
}

#vote-zone {
	text-align: center;
}

#load-more {
	margin: 0 auto;
	margin-top: 15px;
	padding: 10px 100px;
	width: 313px;
	background-color: rgba(0,0,0,0.2);
}


#hide-button {
	height: 0;
	overflow: hidden;
}

#default-choice {
	display: block;
	margin-left: 17px;
	width: 330px;
	padding: 5px 10px;
	background-color: rgba(38,38,38,0.5);
	color: white;
	cursor: pointer;
	text-align: center;
}

#default-choice:hover {
	background-color: rgba(38,38,38,0.7);
}

#option-list {
	position: absolute;
	margin-left: 17px;
	margin-top: 1px;
	padding: 5px 10px;
	width: 330px;
	background-color: rgba(38,38,38,0.9);
	list-style: none;
	display: none;
	z-index: 5;
	text-align: center;
}

#option-list li:hover {
	cursor: pointer;
	background-color: rgba(127,0,1, 0.9);
}

#add-new-album {
	margin-left: 14px;
	z-index: 1;
}
#add-new-album input {
	display: inline-block;
	margin-top: 10px;
	padding: 5px 10px;
	vertical-align: top;
	font-family: Calibri;
}

.submit {
	display: inline-block;
	text-align: center;
	margin-top: 10px;
	width: 90px;
	background-color: rgb(155, 28, 31);
	vertical-align: top;
	cursor: pointer;
	color: white;
}

.submit:hover{
	background-color: rgb(127,0,1);
}

.submit-alone {
	display: block;
	margin-left: 3px;
	margin-top: 5px;
	padding: 5px 10px;
	width: 330px;
}

#contest-container-child-2 {
	margin-top: 50px;
	width: 100%;
	text-align: center;
}

#ask-post {
	display: inline-block;
	vertical-align: top;
	font-size: 32px;
}

.span-ask-post {
	display: block;
	font-family: "AmaticBold";
	transform: rotate(-10deg);
}

#ask-post img {
	transform: rotate(50deg);
	width: 100px;
	height: auto;
	margin-left: 130px;
	margin-top: -50px;
}

#global-browse-zone {
	display: inline-block;
	margin-top: 30px;
	font-size: 15px;
}

.button-upload {
	display: block;
	width: 330px;
	padding: 10px 20px;
	cursor: pointer;
}

#already-uploaded {
	width: 60%;
	margin: 0 auto;
}

#already-uploaded .your-pic {
	display: block;
	font-size: 30px;
}

#already-uploaded .delete-pic{
	display: block;
	margin-top: 20px;
	font-size: 15px;
}

#already-uploaded .uploaded-photo {
	display: inline-block; 
	width: 250px; 
	height: 250px;
	border: dashed;
	border-radius: 50%;
}

#dark-mask {
	position: fixed;
	display: none;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: rgba(0,0,0,0.8);
}

.global-pic {
	float: left;
	background: rgba(0,0,0,0.7);
	margin: 0 10px 20px 10px;
	height: 180px;
	text-align: left;
}

.like {
	display: block;
	margin: 0 auto;
}

.photo-user-name {
	margin-left: 15px;
}